*{
    margin: 0;
}

body{
    font-family: 'Roboto' , 'sans-serif';
    background-color: black;
    overflow-x: hidden;
}

.navbar{
    width: 100%;
    height: 70px;
    background-color: transparent;
}

.navbar-container{
    display: flex;
    align-items: center;
    padding: 0 60px;
    height: 100%;
    color:white;
    font-family: "Sen" , "sens-sarif";
}

.logo-container{
    flex: 1;
    position: absolute;
    margin-top: 50px;
}

.logo{
    font-family: "Sen" , "sens-sarif";
    font-size: 30px;
    color: white;
}

.main-container{
    margin-top: -10px;
    margin-left: 160vh;
    flex: 3;
    display: flex;
    align-items: center;
    position: absolute;
}

.language-text-container{
    margin: 0 60px;
}

.button{
    padding: 10px;
    border-color: rgba(255, 255, 255, 0.685);
    color: rgba(255, 255, 255, 0.685);
    background-color: transparent;
}

.login-background{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -20vh;
    width: 200vh;
    height: 110vh;
}

.border-background{
    border-style: solid;
    border-radius: 5px;
    border-color: aliceblue;
    padding: 60vh 130vh 20px 20px;
    position: absolute;
    margin-top: -75vh;
    margin-left: 30vh;
    background-color: transparent;
}

.login-text{
    color: white;
    position: absolute;
    margin-left: 35vh;
    margin-top: -70vh;
    font-size: 30px;
}

.login-details{
    color:white;
    font-size: 30px;
    position: absolute;
    margin-left: 42vh;
    margin-top: -60vh;
}
.login-details-labels{
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-bottom: 90px;
}

.login-details-input-main{
    margin-left: 20vh;
    margin-top: -25.5vh;
    position: absolute;
    font-size: 40px;
}

.login-details-buttons-main{
    margin-left: -15vh;
    font-size: 30px;
    position: absolute;
    display: flex;
    background-color: transparent;
    border-color: white;
}

input[type="reset"] , input[type="submit"]{
    width: 15vh;
    height: 5vh;
    margin-right: 90px;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    border-color: white;
}

input[type="text"] , input[type="password"] {
    height: 3vh;
    width: 30vh;
    font-size:24px;
    text-align: right;
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
}

.login-image-container{
    margin-left: 50.4vh;
    margin-top: -41vh;
}

.login-image{
    width: 50vh;
    height: 62.1vh;
}